<h1>&#160 &#160 &#160 &#160 &#160OE!S</h1>
<h3>&#160 &#160  Nanomaterial Technology Online Test </h3>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 1</span> - The size of nanoparticles is between _____ nm.</p>
<p><input type="checkbox" value="a"><span>A</span> - 100-1000</p>
<p><input type="checkbox" value="b"><span>B</span> - 0.1-10</a></p>
<p><input type="checkbox" value="c"><span>C</span> - 1 - 10</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - 0.01 - 1</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 2</span> - Carbon atoms make ____ type of bond with other carbon atoms.</p>
<p><input type="checkbox" value="a"><span>A</span> - covalent</p>
<p><input type="checkbox" value="b"><span>B</span> - ionic</a></p>
<p><input type="checkbox" value="c"><span>C</span> - mettalic</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - hydrogen</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 3</span> - Fullerene or bucky ball is made up of ____ carbon atoms.</p>
<p><input type="checkbox" value="a"><span>A</span> - 100</p>
<p><input type="checkbox" value="b"><span>B</span> - 20</a></p>
<p><input type="checkbox" value="c"><span>C</span> - 75</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - 60</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 4</span> - The thermal conductivity of a standard SWNT along its length is ____ watt/(m.K)</p>
<p><input type="checkbox" value="a"><span>A</span> - 35000</p>
<p><input type="checkbox" value="b"><span>B</span> - 3500</a></p>
<p><input type="checkbox" value="c"><span>C</span> - 385</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - 35</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 5</span> -  The diameter of human hair is ____ nm.</p>
<p><input type="checkbox" value="a"><span>A</span> - 50000</p>
<p><input type="checkbox" value="b"><span>B</span> - 75000</a></p>
<p><input type="checkbox" value="c"><span>C</span> - 90000</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - 100000</a></p>
</div>
</div>

<button type="button" >Submit </button>