<h1>&#160 &#160 &#160 &#160 &#160OE!S</h1>
<h3>&#160 &#160 &#160 &#160 &#160 Java Online Test </h3>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 1</span> - What is the default value of char variable?</p>
<p><input type="checkbox" value="a"><span>A</span> - '\u0000'</p>
<p><input type="checkbox" value="b"><span>B</span> - 0</a></p>
<p><input type="checkbox" value="c"><span>C</span> - null</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - not defined</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 2</span> - Which of the following can be operands of arithmetic operators?</p>
<p><input type="checkbox" value="a"><span>A</span> - Numeric</p>
<p><input type="checkbox" value="b"><span>B</span> - Boolean</a></p>
<p><input type="checkbox" value="c"><span>C</span> - Characters</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - both numeric annd characters</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 3</span> - . Modulus operator, %, can be applied to which of these?</p>
<p><input type="checkbox" value="a"><span>A</span> - integers</p>
<p><input type="checkbox" value="b"><span>B</span> - floating</a></p>
<p><input type="checkbox" value="c"><span>C</span> - both int and float</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - not defined</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 4</span> - Decrement operator, –, decreases value of variable by what number?</p>
<p><input type="checkbox" value="a"><span>A</span> - 1</p>
<p><input type="checkbox" value="b"><span>B</span> - 2</a></p>
<p><input type="checkbox" value="c"><span>C</span> - 3</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - 4</a></p>
</div>
</div>
<div id="stage"><div class="QA">
<div class="Q" id="Q29">
<p><span>Q 5</span> -  With x = 0, which of the following are legal lines of Java code for changing the value of x to 1?</p>
<p><input type="checkbox" value="a"><span>A</span> - x++</p>
<p><input type="checkbox" value="b"><span>B</span> - x=x+1</a></p>
<p><input type="checkbox" value="c"><span>C</span> - x+=1</a></p>
<p><input type="checkbox"  value="d"><span>D</span> - x=+1</a></p>
</div>
</div>

<button type="button" >Submit</button>